.underline-button-footer {
  font-size: 0.8rem;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.underline-button-footer:focus,
.underline-button-footer:hover {
  color: #fff;
}

.underline-button-footer:focus:after,
.underline-button-footer:hover:after {
  width: 100%;
  left: 0%;
}

.underline-button-footer:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left
}

/* iPhone XR, 11 */
@media (max-width: 414px) {
  .underline-button-footer {
    font-size: 0.9rem;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 350;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .underline-button-footer:focus,
  .underline-button-footer:hover {
    color: #fff;
  }
  
  .underline-button-footer:focus:after,
  .underline-button-footer:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .underline-button-footer:after {
    content: "";
    pointer-events: none;
    bottom: -1px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left
  }

  .ou {
    font-size: 0.9rem;
  }
}