@use '../token';

.ctb {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 1.5rem;
    position: relative;
    z-index: 10; /* ou toute autre valeur plus élevée */
  }
  
  .ctb span {
    cursor: pointer;
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-family: 'mainTitle', sans-serif;
    font-size: 3.8rem;
    padding-right: 15px;
  }
  
  .ctb svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .ctb:hover svg {
    transform: translateX(0);
  }
  
  .ctb:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation2 {
    position: relative;
    color: token.$white-color;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation2:after {
    content: "";
    position: absolute;
    width: 98%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    font-family: 'mainTitle', sans-serif;
    background-color: token.$white-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .ctb:hover .hover-underline-animation2:after {
    transform: scaleX(1);
    transform-origin: bottom left;

  }

  /* iPhone XR, 11 */
@media (max-width: 414px) {
  .ctb {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 1.5rem;
    position: relative;
    z-index: 10; /* ou toute autre valeur plus élevée */
  }
  
  .ctb span {
    cursor: pointer;
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-family: 'mainTitle', sans-serif;
    font-size: 3rem;
    padding-right: 15px;
  }
  
  .ctb svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .ctb:hover svg {
    transform: translateX(0);
  }
  
  .ctb:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation2 {
    position: relative;
    color: token.$white-color;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation2:after {
    content: "";
    position: absolute;
    width: 98%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    font-family: 'mainTitle', sans-serif;
    background-color: token.$white-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .ctb:hover .hover-underline-animation2:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}