@use 'headercard';

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem;
    z-index: 2; /* Mettre à la couche 2 */
}

// .titleHeader {
//     align-items: center;
//     display: flex;
//     flex-direction: row;
//     gap: 1rem;
// }

// .titleHeader2 {
//     display: flex;
//     flex-direction: column;
// }

/* iPhone XR, 11 */
@media (max-width: 414px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5rem;
        z-index: 2; /* Mettre à la couche 2 */
    }
}