.aPNG {
    height: 2rem;
    width: auto;
}

/* Moi en PNG */

.container {
    display: flex; /* Pour aligner les éléments horizontalement */
    flex-grow: 1; /* Permet à la partie gauche de prendre toute la place */
    position: relative; /* Position relative pour le conteneur principal */
}

.presBody {
    padding: 20px; /* Ajoutez un espacement autour du texte */
    flex: 1; /* Occupe tout l'espace restant */
    position: relative; /* Assurez-vous que la zone de contenu est au-dessus */
    z-index: 1; /* Mettre à la couche 1 */
}

.imageContainer {
    flex: 1; /* L'image prendra la même place que presBody */
    position: absolute; /* Positionnez l'image de manière absolue */
    top: 0; /* Alignez le haut de l'image avec le haut du conteneur */
    right: 0; /* Alignez à droite */
    height: 100%; /* Hauteur de l'image égale à 100% du conteneur */
    z-index: 0; /* Mettre à la couche 0 */
    overflow: hidden; /* Cache le débordement si nécessaire */
}

.rightImage {
    width: 100%; /* Largeur de l'image égale à 100% du conteneur */
    height: auto; /* Hauteur automatique pour garder les proportions */
    opacity: 1; /* Opacité initiale */
    z-index: 0; /* Mettre à la couche 0 */
    transition: opacity 0.3s; /* Transition douce pour l'opacité */
}

/* iPhone XR, 11 */
@media (max-width: 414px) {
    .aPNG {
        height: 1rem;
        width: auto;
    }
    
    /* Moi en PNG */
    
    .container {
        display: flex; /* Pour aligner les éléments horizontalement */
        flex-grow: 1; /* Permet à la partie gauche de prendre toute la place */
        position: relative; /* Position relative pour le conteneur principal */
    }
    
    .presBody {
        padding: 10px; /* Ajoutez un espacement autour du texte */
        flex: 1; /* Occupe tout l'espace restant */
        position: relative; /* Assurez-vous que la zone de contenu est au-dessus */
        z-index: 1; /* Mettre à la couche 1 */
    }
    
    .imageContainer {
        flex: 1; /* L'image prendra la même place que presBody */
        position: absolute; /* Positionnez l'image de manière absolue */
        top: 0; /* Alignez le haut de l'image avec le haut du conteneur */
        right: 0; /* Alignez à droite */
        height: 100%; /* Hauteur de l'image égale à 100% du conteneur */
        z-index: 0; /* Mettre à la couche 0 */
        overflow: hidden; /* Cache le débordement si nécessaire */
    }
    
    .rightImage {
        width: 100%; /* Largeur de l'image égale à 100% du conteneur */
        height: auto; /* Hauteur automatique pour garder les proportions */
        opacity: 1; /* Opacité initiale */
        z-index: 0; /* Mettre à la couche 0 */
        transition: opacity 0.3s; /* Transition douce pour l'opacité */
    }
}