.project-container{
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-left: 8rem;
}

/* iPhone XR, 11 */
@media (max-width: 414px) {
    .project-container{
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
        margin: 0 auto;
        text-align: center;
    }    
}