.social-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 3rem;
    bottom: 2rem;
    width: 4rem;
    height: 9.7rem;
    z-index: 12;
}

ul {
    list-style: none;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5em;
  }
  .social-icon .icon-content {
    margin: 0 0.625em;
    position: relative;
  }
  .social-icon .icon-content .icontooltip {
    position: absolute;
    top: 1.25em;
    left: 40%;
    transform: translateX(50%);
    color: #fff;
    padding: 0.375em 0.625em;
    border-radius: 0.313rem;
    opacity: 0;
    visibility: hidden;
    font-size: 1em;
    transition: all 0.3s ease;
  }
  .social-icon .icon-content:hover .icontooltip {
    opacity: 1;
    visibility: visible;
    top: 0.313em;
    left: 1.8em;
  }
  .social-icon .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .social-icon .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .social-icon .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .social-icon .icon-content a:hover {
    color: white;
  }
  .social-icon .icon-content a .iconfilled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ea4335;
    transition: all 0.3s ease-in-out;
  }
  .social-icon .icon-content a:hover .iconfilled {
    height: 100%;
  }
  
  .social-icon .icon-content a[data-social="linkedin"] .iconfilled,
  .social-icon .icon-content a[data-social="linkedin"] ~ .icontooltip {
    background-color: #0274b3;
  }
  
  .social-icon .icon-content a[data-social="github"] .iconfilled,
  .social-icon .icon-content a[data-social="github"] ~ .icontooltip {
    background-color: #24262a;
  }
  
  .social-icon .icon-content a[data-social="mail"] .iconfilled,
  .social-icon .icon-content a[data-social="mail"] ~ .icontooltip {
    background-color: #eA4335;
  }
  

/* iPhone XR, 11 */
@media (max-width: 414px) { 
  .social-icon-container {
    display: flex;
    flex-direction: column;
    position: fixed; /* Position fixe pour rester visible lors du scroll */
    left: 2rem; /* Distance par rapport au bord gauche de l'écran */
    bottom: 8rem; /* Distance par rapport au bord inférieur de l'écran */
    width: 2rem;
    height: auto;
    z-index: 12;
    will-change: transform; /* Optimise l'affichage pour éviter les mouvements inattendus */
  }

  /* Réinitialisation de la liste */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5em;
  }

  .social-icon .icon-content {
    margin: 0 0.625em;
    position: relative;
  }

  .social-icon .icon-content .icontooltip {
    position: absolute;
    top: 1.25em;
    left: 20%;
    transform: translateX(50%);
    color: #fff;
    padding: 0.375em 0.625em;
    border-radius: 0.1565rem;
    opacity: 0;
    visibility: hidden;
    font-size: 1em;
    transition: all 0.3s ease;
  }

  .social-icon .icon-content:hover .icontooltip {
    opacity: 1;
    visibility: visible;
    top: 0.5em;
    left: 1.2em;
  }

  .social-icon .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }

  .social-icon .icon-content a:hover {
    box-shadow: 1.5px 1px 22.5px 0px rgb(0 0 0 / 12%);
  }

  .social-icon .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }

  .social-icon .icon-content a:hover {
    color: white;
  }

  .social-icon .icon-content a .iconfilled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ea4335;
    transition: all 0.3s ease-in-out;
  }

  .social-icon .icon-content a:hover .iconfilled {
    height: 100%;
  }

  .social-icon .icon-content a[data-social="linkedin"] .iconfilled,
  .social-icon .icon-content a[data-social="linkedin"] ~ .icontooltip {
    background-color: #0274b3;
  }

  .social-icon .icon-content a[data-social="github"] .iconfilled,
  .social-icon .icon-content a[data-social="github"] ~ .icontooltip {
    background-color: #24262a;
  }

  .social-icon .icon-content a[data-social="mail"] .iconfilled,
  .social-icon .icon-content a[data-social="mail"] ~ .icontooltip {
    background-color: #ea4335;
  }
}
