* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden {
    visibility: hidden; /* L'élément est invisible mais occupe de l'espace */
    opacity: 0; /* L'élément est complètement transparent */
    transition: visibility 0s, opacity 0.5s linear; /* Transition douce */
}

.visible {
    visibility: visible; /* L'élément est visible */
    opacity: 1; /* L'élément est complètement opaque */
}

body {
    font-family: 'Fjalla One';
    font-size: 16px;
    padding: 1rem;
    background-color: #202020;
    color: #FFFFFF;
    gap: 10em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 2.3rem;
    color: #fff;
}

h2 {
    font-size: 1.5rem;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 23%;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(6, 2fr); /* Deux colonnes */
    gap: 20px; /* Espace entre les compétences */
}

.skill {
    border: 1px solid #ccc; /* Optionnel : ajouter une bordure autour de chaque compétence */
    padding: 15px; /* Espace à l'intérieur de chaque compétence */
    text-align: center; /* Centrer le texte */
    background: rgb(60,60,60);
    background: linear-gradient(270deg, rgba(34,13,128,1) 0%, rgba(60,60,60,1) 100%);
    border-radius: 8px; /* Arrondir les coins */
    justify-content: space-around;
    width: 94%;
    transition: transform 0.3s; /* Ajoute une transition douce pour l'effet de survol */
}

.skill:hover {
    transform: scale(1.1); /* Agrandit l'icône au survol */
}

.skill h3 {
    color: white;
}

.skill p {
    color: white;
}

.skill-logo {
    width: 50px; /* Ajustez la taille du logo */
    height: auto; /* Maintenir les proportions de l'image */
    margin-bottom: 10px; /* Espace entre le logo et le texte */
}

section.projects {
    padding: 2em;
}

.projects {
    top: 40%;
    left: 30%;
    position: absolute;
}

div.project-grid article.project {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

section.projects div.project-grid img.reactappli {
    height: 35vh;
    width: 25vw;
}

section.projects div.project-grid img.ecommerce {
    height: 35vh;
    width: 25vw;
}

section.projects div.project-grid img.blogimg {
    height: 35vh;
    width: 25vw;
}

/* Styles pour les grands écrans (à partir de 768px) */
header {
    display: flex;
    justify-content: space-between;/* Titre à gauche et menu à droite */
    align-items: center;
    padding: 1.2em 7em;
    margin: 0.2em;
    background: rgb(60,60,60);
    background: linear-gradient(270deg, rgba(60,60,60,1) 0%, rgba(34,13,128,1) 100%);
    border: none;
    border-radius: 1em;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
}

header nav ul li {
    margin-left: 2em;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #3113b8;
    padding: 0.6em 1.6em; 
    border: none;
    border-radius: 1em;
    transition: background-color 0.5s ease; 
}

header nav ul li a:hover {
    background-color: #a4cdf8;
    color: #333; /* Changement de couleur au survol */
    font-weight: bold;
    cursor: pointer; /* Indiques que le bouton est cliquable */
}

section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2em;
    margin: 2em;
    gap: 1.5em;
}

div.project-grid {
    /* background-color: #3baef0; */
    text-align: center;
    justify-content: space-between;
    display: flex;
}

footer p {
    color: #fff;
}

footer {
    text-align: center;
    background: rgb(60,60,60);
    background: linear-gradient(270deg, rgba(34,13,128,1) 0%, rgba(60,60,60,1) 100%);
    border: none;
    border-radius: 1em;
    padding: 1.3em;
    width: 98%;
    position: absolute;
    bottom: 0.7rem;
}

.footer-icons {
    display: flex;
    justify-content: space-around; /* Centre les icônes horizontalement */
    
    margin-top: 10px; /* Espace au-dessus des icônes */
}

.footer-icon {
    width: auto; /* Ajuste la taille des icônes (par exemple, 30px) */
    height: 3rem; /* Définit une hauteur fixe pour uniformiser */
    margin: 0 10px; /* Espace de 10px entre les icônes */
    transition: transform 0.3s; /* Ajoute une transition douce pour l'effet de survol */
}

.footer-icon:hover {
    transform: scale(1.5); /* Agrandit l'icône au survol */
}

/* Styles pour les petits écrans (moins de 768px) */
@media (max-width: 768px) {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centre les éléments en colonne */
        text-align: center;
    }
    
    .header nav ul {
        flex-direction: row; /* Le menu passe en colonne */
        margin-top: 10px;
        padding-top: 1em;
    }

    .header nav ul li {
        margin: 10px 0; /* Espace entre chaque lien du menu */
    }

    div.project-grid {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
        height: 155vh;
        width: 70vw;
    }

    section.projects div.project-grid img.reactappli {
        height: 25vh;
        width: 58vw;
    }
    
    section.projects div.project-grid img.ecommerce {
        height: 25vh;
        width: 58vw;
    }
    
    section.projects div.project-grid img.blogimg {
        height: 25vh;
        width: 58vw;
    }
    
    section.about {
        position: absolute;
        top: 30%;
    }
    .footer{
        display: table-column;
        position: absolute;
        width: 93.5%;
        bottom: 0;
    }
}
