@use 'reset';
@use 'fonts';
@use 'token';
@use 'prefooter';
@use 'footer';
@use 'loading';

@use './index-styles/body';
@use './index-styles/header';
@use './index-styles/hamburger';
@use './index-styles/project-container';
@use './index-styles/grille';
@use './index-styles/tooltip';
@use './index-styles/Vbutton';
@use './index-styles/button-pre-footer';
@use './index-styles/button-underline';
@use './index-styles/social-icon';
@use './index-styles/navbar';
@use './index-styles/images';
@use './index-styles/separator';

@use './about-styles/aboutMain';
@use './about-styles/services';
@use './about-styles/about-img';

@use './contact-styles/map';
@use './contact-styles/form';


body {
    font-family: Arial, sans-serif;
    background-color: token.$dark-color;
    color: token.$white-color;
}


