@mixin basic-style {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.services-container{
    @include basic-style();
}

.tools-container{
    @include basic-style();
}

.sv-software-container{
    @include basic-style();
    flex-direction: row;
    width: max-content;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

/* iPhone XR, 11 */
@media (max-width: 414px) {
    .sv-software-container{
        display: flex;
        flex-direction: column;
        padding: 0;
    }    
}